<footer>
    <div class="container">
        <div class="footer-links">
            <a href="{{ '/' | relative_url }}"">Home</a>
            <a href="{{ '/tutorials/' | relative_url }}">Tutorials</a></li>
            <a href="{{ '/podcast/' | relative_url }}">Podcast</a></li>
            <a href="{{ '/resources/' | relative_url }}">Resources</a></li>
            <a href="{{ '/about/' | relative_url }}">About</a></li>
            <a href="#">Contact</a>
        </div>
        <p>&copy; 2025 Astrigot 3D. All rights reserved.</p>
    </div>
</footer>