<header>
    <div class="container">
        <nav>
            <div class="logo">Astrigot<span>3D</span></div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="{{ '/tutorials/' | relative_url }}">Tutorials</a></li>
                <li><a href="/podcast/">Podcast</a></li>
                <li><a href="/resources/ ">Resources</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </nav>
    </div>
</header>